@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

h2#aboutme-title.section-title {
  position: absolute;
  left: -50%;
  transform: translateX(-50%);
  top: 20vh;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  transition: left 1s ease;
  opacity: 0;
  &.visible {
    opacity: 1;
    left: 50% !important;
  }
}

section#about-me {
  width: 100%;
  background-color: $white;
  min-height: 100vh;
  position: relative;
}

.title-underline {
  position: absolute;
  top: calc(20vh + 60px);
  right: -50%;
  transform: translateX(50%);
  display: block;
  height: 10px;
  width: 150px;
  opacity: 0;
  transition: right 1s ease;
  background-color: $red;
  &.visible {
    opacity: 1;
    right: 50% !important;
  }
}

.picture {
  position: absolute;
  top: 35vh;
  left: 20vw;
  width: 30vh;
  height: 30vh;
  background: $off-white;
  transform: translateX(calc(-100% - 30vh));
  transition: transform 1s ease;
  background-image: url('../images/profile.jpeg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  &.visible {
    transform: translateX(0);
  }
}

.info {
  position: absolute;
  width: 40vw;
  height: 55vh;
  // background-color: $off-white;
  right: 20vw;
  top: 35vh;
  transition: transform 1s ease;
  transform: translateX(calc(+100% + 20vw + 2vh));
  box-sizing: border-box;
  // padding: 3vw;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  a {
    display: block;
    color: $off-white;
    text-decoration: none;
    background-color: $red;
    padding: 20px 30px;
    border: 3px solid $red;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
    &:hover {
      background-color: $off-white;
      color: $red;
    }
  }
  p {
    i {
      margin-right: 10px;
    }
    display: flex;
    text-align: center;
  }
  &.visible {
    transform: translateX(0);
  }
}

.tech-name {
  position: absolute;
  left: 20vw;
  top: 90vh;
  width: calc(20vw - 2vh);
  height: 20px;
  background-color: $black;
  z-index: 1;
  transition: transform 1s ease;
  color: $off-white;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  transform: translate(calc(-100% - 20vw - 2vh), -20px);
  &.visible {
    transform: translate(0, -20px);
  }
  &.dropdown {
    transform: translate(0);
  }
}

.technologies {
  position: absolute;
  left: 20vw;
  top: 67vh;
  width: calc(20vw - 2vh);
  height: 23vh;
  background-color: $red;
  z-index: 2;
  transition: transform 1s ease;
  transform: translateX(calc(-100% - 20vw - 2vh));
  &.visible {
    transform: translateX(0);
  }
  ul {
    box-sizing: border-box;
    padding: 1vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $white;
    flex-wrap: wrap;
    li { 
      flex: 1 1 calc(100% / 4);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(1);
      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: pointer;
      i {
        font-size: 2vw;
      }
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

#about-me .scroll-to-projects {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 2.5vh;
  transform: translateX(-50%);
  text-decoration: none;
  color: $red;
  font-size: 2em;
  transition: color .4s ease, transform .5s ease;
  i {
    margin-right: 20px;
    font-size: 1.5em;    
    transition: transform .2s ease;
  }
  &:hover {
    color: $black;
    transform: translateX(-50%);
    i {
      transform: rotate(360deg);
    }
  }
}