h2#projects-title.section-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20vh;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  &::after {
    position: absolute;
    bottom: -45%;
    left: 10%;
    content: "";
    display: block;
    width: 80%;
    height: 20%;
    background-color: $red;
    z-index: -1;
  }
}

section#about-me {
  width: 100%;
  background-color: $white;
  min-height: 100vh;
  position: relative;
}

