/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Palanquin:300,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

video::-webkit-media-controls {
  display: none !important; }

canvas#waves {
  width: 100%;
  height: 250px;
  display: block;
  margin: 0 auto;
  background: #333;
  z-index: -1; }

section#projects {
  background: #FFFFFF;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative; }
  section#projects .projects-wrapper {
    margin: 0 auto;
    padding: 0px 100px 80px;
    max-width: 1200px;
    background-color: transparent; }
    section#projects .projects-wrapper h2.section-title {
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 40px; }
    section#projects .projects-wrapper .project-list {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      section#projects .projects-wrapper .project-list > li {
        box-sizing: border-box;
        width: 33%;
        text-align: center;
        transition: transform .5s ease;
        position: relative; }
        section#projects .projects-wrapper .project-list > li:hover .project-list-item-overlay {
          opacity: 1; }
          section#projects .projects-wrapper .project-list > li:hover .project-list-item-overlay .project-list-item-description {
            transform: scale(1); }
        section#projects .projects-wrapper .project-list > li video {
          width: 100%; }
        section#projects .projects-wrapper .project-list > li .project-list-item-overlay {
          background-color: rgba(0, 0, 0, 0.8);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          color: #FFFFFF;
          opacity: 0;
          transition: background-color 0.3s ease, opacity 0.3s ease; }
          section#projects .projects-wrapper .project-list > li .project-list-item-overlay .project-list-item-description {
            transform: scale(2);
            transition: transform 0.3s ease-in-out; }
            section#projects .projects-wrapper .project-list > li .project-list-item-overlay .project-list-item-description h3 {
              font-size: 24px;
              font-weight: 700;
              margin-bottom: 10px; }
            section#projects .projects-wrapper .project-list > li .project-list-item-overlay .project-list-item-description .project-technologies {
              display: flex;
              justify-content: space-evenly;
              width: 100%;
              margin-bottom: 10px; }
              section#projects .projects-wrapper .project-list > li .project-list-item-overlay .project-list-item-description .project-technologies li {
                margin-left: 10px; }
            section#projects .projects-wrapper .project-list > li .project-list-item-overlay .project-list-item-description a {
              margin-top: 10px;
              display: inline-block;
              color: #FFFFFF;
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 700;
              padding: 10px 20px;
              background: transparent;
              border: 2px solid #FFFFFF;
              outline: none;
              transition: transform 0.5s ease;
              text-decoration: none; }
              section#projects .projects-wrapper .project-list > li .project-list-item-overlay .project-list-item-description a i {
                margin-left: 5px; }
              section#projects .projects-wrapper .project-list > li .project-list-item-overlay .project-list-item-description a:hover {
                transform: scale(1.1); }

section#splash {
  background-color: #3d0200;
  position: relative;
  height: 80vh; }
  section#splash::after {
    background-image: linear-gradient(to bottom, transparent, #1B1B1F);
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%; }
  section#splash #introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5; }
    section#splash #introduction p {
      color: #F8F8F8;
      font-size: 48px;
      font-weight: 700; }
      section#splash #introduction p span {
        color: #FF5851; }
    section#splash #introduction .scroll-to {
      display: inline-block;
      color: #FF5851;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      margin-top: 40px;
      padding: 20px;
      background: transparent;
      border: 2px solid #FF5851;
      outline: none;
      text-decoration: none;
      transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
      cursor: pointer; }
      section#splash #introduction .scroll-to:hover {
        background-color: #FF5851;
        color: #FFFFFF;
        transform: scale(1.1); }
        section#splash #introduction .scroll-to:hover i {
          transform: rotate(90deg); }
      section#splash #introduction .scroll-to i {
        margin-left: 5px;
        transition: transform 0.5s ease; }

body {
  background-color: #F8F8F8;
  font-family: 'Palanquin', sans-serif; }

section#about-me {
  width: 100%;
  background-color: #1B1B1F;
  min-height: 100vh; }
