/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Palanquin:300,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

video::-webkit-media-controls {
  display: none !important; }

h2#projects-title.section-title {
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
  color: #FFFFFF;
  margin-bottom: 40px; }
  h2#projects-title.section-title.visible {
    opacity: 1;
    transform: translateX(0); }

section#projects {
  background: #1B1B1F;
  box-sizing: border-box;
  min-height: 100vh; }
  section#projects .projects-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 80px 100px 0px;
    max-width: 1200px;
    background-color: transparent; }
    section#projects .projects-wrapper .project-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%; }
      section#projects .projects-wrapper .project-list > li {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: top;
        justify-content: space-between;
        opacity: 0;
        transform: translateY(40px);
        transition: transform 1s ease, opacity 1s ease;
        margin-bottom: 10em; }
        section#projects .projects-wrapper .project-list > li.visible {
          transform: translateY(0px);
          opacity: 1; }
        section#projects .projects-wrapper .project-list > li:hover .project-list-item-overlay {
          opacity: 1; }
          section#projects .projects-wrapper .project-list > li:hover .project-list-item-overlay .project-list-item-description {
            transform: scale(1); }
        section#projects .projects-wrapper .project-list > li .video-wrapper {
          width: 50%;
          position: relative; }
          section#projects .projects-wrapper .project-list > li .video-wrapper #slides {
            box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
            border-radius: 10px;
            position: relative; }
            section#projects .projects-wrapper .project-list > li .video-wrapper #slides img {
              height: 100%; }
          section#projects .projects-wrapper .project-list > li .video-wrapper .hover-message {
            position: absolute;
            padding: 10px 20px;
            background: #FF5851;
            border-radius: 5px;
            bottom: -15px;
            color: #F8F8F8;
            left: 50%;
            transform: translateX(-50%); }
            section#projects .projects-wrapper .project-list > li .video-wrapper .hover-message::after {
              content: "";
              position: absolute;
              height: 0;
              width: 0;
              top: -10px;
              left: 50%;
              transform: translateX(-50%);
              border-top: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid #FF5851;
              border-left: 5px solid transparent; }
          section#projects .projects-wrapper .project-list > li .video-wrapper video {
            box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
            border-radius: 10px;
            width: 100%; }
        section#projects .projects-wrapper .project-list > li .project-list-item-description {
          transition: transform 0.3s ease-in-out;
          font-size: 24px;
          width: 50%;
          height: fit-content;
          color: #FFFFFF;
          box-sizing: border-box;
          padding: 0 20px;
          text-shadow: 0px 2px 0px #000000; }
          section#projects .projects-wrapper .project-list > li .project-list-item-description h3 {
            color: #FF5851;
            font-size: 2em;
            font-weight: 700;
            margin-bottom: 30px; }
          section#projects .projects-wrapper .project-list > li .project-list-item-description .description {
            display: flex;
            width: 100%;
            margin-bottom: 30px;
            color: #878789; }
          section#projects .projects-wrapper .project-list > li .project-list-item-description .project-links {
            display: flex;
            align-items: center; }
            section#projects .projects-wrapper .project-list > li .project-list-item-description .project-links a {
              display: inline-block;
              color: #FF5851;
              text-transform: uppercase;
              font-size: 0.8em;
              font-weight: 700;
              padding: 20px 30px;
              background: transparent;
              border: 2px solid #FF5851;
              outline: none;
              transition: background-color 0.5s ease, color 0.5s ease;
              text-decoration: none;
              text-shadow: none; }
              section#projects .projects-wrapper .project-list > li .project-list-item-description .project-links a i {
                margin-left: 5px; }
              section#projects .projects-wrapper .project-list > li .project-list-item-description .project-links a:hover {
                background-color: #FF5851;
                color: #1B1B1F; }
            section#projects .projects-wrapper .project-list > li .project-list-item-description .project-links a.github-link {
              border: none;
              font-size: 2em;
              font-weight: 400;
              transition: color 0.5s ease; }
              section#projects .projects-wrapper .project-list > li .project-list-item-description .project-links a.github-link:hover {
                color: #FFFFFF;
                background-color: #1B1B1F; }

canvas#projects-arrow {
  background-color: #FFFFFF; }

section#splash {
  background-color: #1B1B1F;
  position: relative;
  height: 80vh; }
  section#splash::after {
    background-image: linear-gradient(to bottom, transparent, #1B1B1F);
    content: "";
    position: absolute;
    top: 75%;
    width: 100%;
    height: 25%; }
  section#splash #introduction {
    position: absolute;
    top: calc(50% + 10vh);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; }
    section#splash #introduction p {
      color: #F8F8F8;
      font-size: 48px;
      font-weight: 700;
      text-shadow: 0px 2px 0px #000000; }
      section#splash #introduction p .name {
        display: inline;
        font-size: 48;
        font-weight: 700;
        text-shadow: 0px 2px 0px #000000;
        color: #FF5851;
        position: relative; }
        section#splash #introduction p .name .email {
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
          padding: 20px;
          color: #F8F8F8;
          background: #FF5851; }
    section#splash #introduction .scroll-to-about-me {
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: fit-content;
      color: #FF5851;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      margin-top: 40px;
      padding: 20px 30px;
      background: rgba(27, 27, 31, 0.8);
      border: 2px solid #FF5851;
      outline: none;
      text-decoration: none;
      transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
      cursor: pointer; }
      section#splash #introduction .scroll-to-about-me:hover {
        background-color: #FF5851;
        color: #FFFFFF; }
        section#splash #introduction .scroll-to-about-me:hover i {
          transform: rotate(90deg); }
      section#splash #introduction .scroll-to-about-me i {
        margin-left: 8px;
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }

canvas#waves {
  width: 100%;
  height: 20vh;
  display: block;
  margin: 0 auto;
  background: #333;
  z-index: -1;
  background-color: #1B1B1F; }
  canvas#waves.visible {
    opacity: 1; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.025); }
  100% {
    transform: scale(1); } }

h2#aboutme-title.section-title {
  position: absolute;
  left: -50%;
  transform: translateX(-50%);
  top: 20vh;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  transition: left 1s ease;
  opacity: 0; }
  h2#aboutme-title.section-title.visible {
    opacity: 1;
    left: 50% !important; }

section#about-me {
  width: 100%;
  background-color: #FFFFFF;
  min-height: 100vh;
  position: relative; }

.title-underline {
  position: absolute;
  top: calc(20vh + 60px);
  right: -50%;
  transform: translateX(50%);
  display: block;
  height: 10px;
  width: 150px;
  opacity: 0;
  transition: right 1s ease;
  background-color: #FF5851; }
  .title-underline.visible {
    opacity: 1;
    right: 50% !important; }

.picture {
  position: absolute;
  top: 35vh;
  left: 25vw;
  width: 30vh;
  height: 30vh;
  background: #F8F8F8;
  transform: translateX(calc(-100% - 30vh));
  transition: transform 1s ease;
  background-image: url("../images/profile.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); }
  .picture.visible {
    transform: translateX(0); }

.info {
  position: absolute;
  width: 40vw;
  height: 55vh;
  right: 20vw;
  top: 35vh;
  transition: transform 1s ease;
  transform: translateX(calc(+100% + 20vw + 2vh));
  box-sizing: border-box;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .info a {
    display: block;
    color: #F8F8F8;
    text-decoration: none;
    background-color: #FF5851;
    padding: 20px 30px;
    border: 3px solid #FF5851;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease; }
    .info a:hover {
      background-color: #F8F8F8;
      color: #FF5851; }
  .info p {
    display: flex;
    text-align: center; }
    .info p i {
      margin-right: 10px; }
  .info.visible {
    transform: translateX(0); }

.tech-name {
  position: absolute;
  left: 20vw;
  top: 90vh;
  width: calc(20vw - 2vh);
  height: 20px;
  background-color: #1B1B1F;
  z-index: 1;
  transition: transform 1s ease;
  color: #F8F8F8;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  transform: translate(calc(-100% - 20vw - 2vh), -20px); }
  .tech-name.visible {
    transform: translate(0, -20px); }
  .tech-name.dropdown {
    transform: translate(0); }

.technologies {
  position: absolute;
  left: 20vw;
  top: 67vh;
  width: calc(20vw - 2vh);
  height: 23vh;
  background-color: #FF5851;
  z-index: 2;
  transition: transform 1s ease;
  transform: translateX(calc(-100% - 20vw - 2vh)); }
  .technologies.visible {
    transform: translateX(0); }
  .technologies ul {
    box-sizing: border-box;
    padding: 1vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    flex-wrap: wrap; }
    .technologies ul li {
      flex: 1 1 calc(100% / 4);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(1);
      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: pointer; }
      .technologies ul li i {
        font-size: 2vw; }
      .technologies ul li:hover {
        transform: scale(1.5); }

#about-me .scroll-to-projects {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 2.5vh;
  transform: translateX(-50%);
  text-decoration: none;
  color: #FF5851;
  font-size: 2em;
  transition: color .4s ease, transform .5s ease; }
  #about-me .scroll-to-projects i {
    margin-right: 20px;
    font-size: 1.5em;
    transition: transform .2s ease; }
  #about-me .scroll-to-projects:hover {
    color: #1B1B1F;
    transform: translateX(-50%); }
    #about-me .scroll-to-projects:hover i {
      transform: rotate(360deg); }

#contact-arrow {
  background-color: #1B1B1F; }

#contact {
  background: #FF5851;
  text-align: center;
  padding: 80px;
  margin-top: -2px;
  color: #F8F8F8; }
  #contact a.to-the-top {
    display: block;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #F8F8F8;
    margin: 0 auto; }
    #contact a.to-the-top:hover {
      background-color: #F8F8F8;
      color: #FF5851; }
  #contact p.contact-message {
    margin: 40px auto 0;
    width: 30vw;
    font-size: 24px; }
  #contact ul.other-pages {
    display: flex;
    margin: 40px auto 0px;
    width: 20vw;
    justify-content: space-between; }
    #contact ul.other-pages a {
      color: #F8F8F8; }
    #contact ul.other-pages li {
      padding: 15px;
      border-radius: 50%;
      border: 2px solid #F8F8F8;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 24px;
      transition: background-color 0.5s ease, color 0.5s ease; }
      #contact ul.other-pages li:hover {
        background-color: #F8F8F8;
        color: #FF5851; }
  #contact p.contact-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0; }
    #contact p.contact-copyright i {
      margin-left: 5px;
      font-size: 20px; }

body {
  background-color: #1B1B1F;
  font-family: 'Palanquin', sans-serif; }
