section#splash {
  background-image: linear-gradient(to bottom, $dark-red, $black);
  position: relative;
  #about-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    p {
      color: $off-white;
      font-size: 48px;
      font-weight: 700;
      span {
        color: $red;
      }
    }
    .scroll-to {
      display: inline-block;
      color: $red;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      margin-top: 40px;
      padding: 20px;
      background: transparent;
      border: 2px solid $red;
      outline: none;
      text-decoration: none;
      transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
      cursor: pointer;
      &:hover {
        background-color: $red;
        color: $white;
        transform: scale(1.1);
        i {
          transform: rotate(90deg);
        }
      }
      i {
        margin-left: 5px;
        transition: transform 0.5s ease;
      }
    }
  }
}